<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Configuration</title>
</head>

<body>
    <h1>Archivo de configuracion</h1>
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post">
        {% else %}
        <form method="post">
            {% endif %}
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Enviar archivo">
        </form>
        {% for msg in msgs %}
        <p>{{ msg }}</p>
        {% endfor %}
        <a href="{% url 'index' %}">Regresar al inicio</a>

</body>

</html>