<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Consumos</title>
</head>

<body>
    <h2>Envio de archivo de consumos</h2>
    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post">
        {% else %}
        <form method="post" action="/foo/">
            {% endif %}
            {{ form }}
            {% csrf_token %}
            <input type="submit" value="Enviar archivo">
        </form>

        {% if msg %}
        <p>{{ msg }}</p>
        {% endif %}
        <a href="{% url 'index' %}">Regresar al inicio</a>

</body>

</html>