<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Servicio 1</h1>

    <h2>Opciones</h2>
    <ul>
        <li><a href="{% url 'reset' %}">Resetar datos</a></li>
        <li><a href="{% url 'configuration' %}">Enviar archivo de configuraciones</a></li>
        <li><a href="{% url 'consumption' %}">Enviar archivo de consumos</a></li>
        <li><a href="{% url 'about' %}">Acerca del estudiante</a></li>
        <li><a href="{% url 'operations' %}">Operaciones del sistema</a></li>
    </ul>
</body>

</html>