<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Operaciones del sistema</h1>
    <ul>
        <li><a href="{% url 'consult' %}">Consultar datos</a></li>
        <li><a href="{% url 'create' %}">Crear Datos</a></li>
        <li><a href="{% url 'create_bill' %}">Generar factura</a></li>
        <!-- <li><a href="{% url 'report' %}">Reportes</a></li> -->
    </ul>
</body>

</html>